
.footer {
    background-color: black;
    position: relative; /*sujeto a modificacion()*/
    bottom: 0;
    width: 100%;
    height: 100px;
    color: white;
    padding: 10px 20px;
}
.footer .iconosF{
    width: 300px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.footer .pie{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: gray;
}