/*===== Menu de navegacion fullpage ===*/
.header {
    background-color: white;
    border: solid 1px gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
}
.header .hamburger{
	position:fixed;
    background-color:transparent;
	left:0;
	top:0;
	height:30px;
	width:30px;
	padding:25px 30px;
    
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.header .hamburger.is-active{
  background-color:transparent;
}
.header ._layer{
	background-color: var(--colorGrisOscuro);
	margin-bottom:4px;
	border-radius:2px;
	/*width:28px;*/
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.header .hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.header .hamburger.is-active .-mid{
	opacity:0;
}
.header .hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}
/*se encarga de la posicion del contenido del menu*/
.header .menu-mobile.is_active{
    transform: translate3d(0px, 0px, 0px);
   
}
.header .menu-mobile{
    background-color: white;
    /*opacity: 0.9;*/
    bottom: 0;
    height: 100%;
    left: 0;
    /*overflow-y: scroll;*/
    position: fixed;
    top: 0;
    /*se encarga de la tarancision/mostrado de menu*/
    transform: translate3d(-100%, 0%, 0px);
    /*efecto de llegada*/
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    /*width: 80%;*/
    z-index: 1001;
}
.header .menu-mobile figure.avatar {
    /*position: absolute;*/
    display: flex;
    justify-content: center;
    position: relative;
    /*left:calc(50% - 100px);*/
    margin-top:20%;
    margin-left:10%;
    /*margin-bottom:5%;*/
    /*position: absolute;
    left: 10%;*/
    /*width: 80px;
    height: 80px;*/
    background-color: var(--colorGrisOscuro);
    border-radius: 50%;
    overflow: hidden;
}
.header .menu-mobile figure.avatar img {
    max-width: 100%;
    height: auto;
}
  
.header .menu-mobile ul li { 
    text-align:left;
    /*margin-bottom: 10%;*/
    margin-left: 10%;
    margin-right: 10%;
    color: black;
    text-transform:capitalize;
    font-weight:bold;
    /*border-top: solid 1px gray;*/
    border-bottom: solid 1px gray;
    line-height: 4rem;
}
.header .menu-mobile ul li a:hover{
    text-decoration:none;
    font-weight: 700;
    font-size: 23px;
    color:#636FA4;
}
  .header .menu-mobile .name-mobile {
    color:#9E98B1;
    text-transform: uppercase;
    font-weight: 700;
    
}
  /*Inicia menu para tables y computadoras*/
  /*.header-admin .menu-sm ul{
      display: flex;
      flex-direction: row;
      justify-content:space-around;
  }*/
.header .icons {
    /*position: fixed;
    z-index: 1000;
    top:20px;
    right: 25px;*/
    color: black;
    padding:20px 10px;
    
    
    
}
.header .logo img {
    position: fixed;
    z-index: 1000;
    margin-top: 15px;
    left: 10%;
    height:2.5rem;
}
.header .menu-sm a{
    display: inline-block;
    text-transform: uppercase;
    line-height: 4rem;
    margin-left: 20px;
    color:white;
    font-weight: 700;
}
.header .menu-sm figure.avatar {
    display: flex;
    justify-content: center;
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-right: 15px;
    background-color: var(--colorGrisOscuro);
    border-radius: 50%;
    overflow: hidden;
}
.header .menu-sm .user-admin {
    display: inline-block;
    width: 8rem;
    text-align: center;
    padding-right:10px;
    color: white;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.header .menu-sm .user-admin .name-admin {
    color:#9E98B1;
}
header .second-menu a{
    padding: 5px 0 5px 0;
}
.header .marca {
   position: fixed;
   z-index: 100;
   /*left: 15%;*/
   
   top:15px;
   width: 150px;
}
/*.header .nav {
    top: 0;
    background-color: white;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    border: solid 1px black;
}
.header .nav-icons a {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.header .nav .menu-extendido div{
    background-color: rgba(255, 255, 255, .5);
}
.header .nav .menu-extendido a {
    margin-top: 1rem;
    text-transform: uppercase;
    margin: 0 1.5rem 0 1.5rem;
    font-weight: 600;
    line-height: 40px;
}
.header .input-search {
    background-color: rgba(255, 255, 255, .8);
    width: 100%;
    line-height: 40px;
    padding-left: 10px;
    border: solid 2px gray;
}
.header .nav-usuarios {
    background-color: rgba(255, 255, 255, .9);
    border: solid 1px gray;
    position: absolute;
    right: 0;
}
.header .nav-usuarios a {
    text-align: center;
    font-weight: 700;
    padding: 10px;
}
*/