/*==== Section1 ===*/
.home .s1 {
    background-image: url("../images/pexels-photo-833052.jpeg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right 30%;
}
#fp-nav ul li a span { /* cambio color de los tooltips*/
    background-color: white;   
}
.home .s1 h2 {
    text-transform: uppercase;
    color: transparent;
    margin-bottom: 10px;
    -webkit-text-stroke: 5px white;
        -moz-text-stroke: 5px white;
}
.home .s1 a {
    background-color: black;
    border: solid 2px white;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    padding: 5px 20px;
    transition:  0.2s;
}
.home .s1 a:hover {
    background-color: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
}
/*=== Section2 ===*/
.home .s2 .link-sale {
    position: absolute;
    z-index: 70;
    color:white;
    text-transform: uppercase;
    margin-left: 20px;
}
.home .s2 .link-sale h2 {
    margin:10px 0 10px 0;
    font-weight: 700;
}
.home .s2 .link-sale a{
    background-color: black;
    border: solid 1px white;
    padding: 3px;
}
.home .s2 .link-sale a:hover {
    background-color: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
}
.home .s2 .bg-video {
    position: absolute;
    z-index: 50;
    right:0;
    top:0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-size: contain;
    background-position: center;
    object-fit: cover;
}
/*=== Section3 ==*/
/*Slide1 mujer*/
.home .s3 .mujer {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }    
.home .s3 .mujer a {
    background-color: black;
    position: relative;
    color: white;
}
.home .s3 .mujer a:hover{
    transform: translateY(-6px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11);
}
.home .s3 .mujer a img {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 0.7;
}
.home .s3 .mujer a p {
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 75%;
    height: 30%;
    margin: auto;
}
.home .s3 .mujer a:nth-child(5){
    background-color: #f1f1f1;
    border:solid 4px black;
    color: black;
}
.home .s3 .mujer h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}
/*Slide2 hombre*/
.home .s3 .hombre {
  background: rgba(22, 191, 253,.9); /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, rgba(22, 191, 253,.9), rgba(203, 48, 102,.7)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, rgba(22, 191, 253,.9), rgba(203, 48, 102,.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home .s3 .hombre a {
    background-color: black;
    position: relative;
    color: white;
}
.home .s3 .hombre a:hover{
    transform: translateY(-6px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11);
}
.home .s3 .hombre a img {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 0.7;
}
.home .s3 .hombre a p {
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 75%;
    height: 30%;
    margin: auto;
}
.home .s3 .hombre a:nth-child(5){
    background-color: white;
    border:solid 3px black;
    color: black;
}
.home .s3 .hombre h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}
/*=== Section4 ===*/
.home .s4 {
    background-color:#262626;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
}
.home .s4 .contacto a:hover{
    transform: translateY(-6px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11);
}
.home .s4 .iconosF{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.home .s4 .pie{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: gray;
}
.home .s4 .equipo {
    background-color:#262626;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
}