.create.nav {
    top: 0;
    background-color: #5B91A9 ;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    border: solid 1px black;
}
.create.nav-icons a {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.iconos-nav .admin a {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.nav-admin .menu-extendido a {
    margin-top: 1rem;
    text-transform: uppercase;
    margin: 0 1.5rem 0 1.5rem;
    font-weight: 600;
}