<!-- Header -->
<header class="header-admin sticky top-0 h-14 sm:h-16">
  <!--menu unicamente para mobile-->
  <div class="hamburger block sm:hidden">
      <div class="_layer -top"></div>
      <div class="_layer -mid"></div>
      <div class="_layer -bottom"></div>
  </div>
  <nav class="menu-mobile">
      <figure class="avatar">
          <img src="/images/avatars/default.png" alt="">
      </figure>
      <ul class="text-lg mt-44">
        <li><a href="/account/admin/profile">Super Admin <span class="name-mobile"> manuela</span></a></li>
        <!--<li><a href="#"><i class="fas fa-file"></i> Resumen</a></li>-->
        <li><a href="/admin/product/database/list"><i class="fas fa-database"></i> Base de datos</a></li>
        <li><a href="/admin/product/create"><i class="fas fa-plus"></i> Nuevo producto</a></li>
        <li><a href="/admin/product/list"><i class="fas fa-edit"></i> Edit/Delete</a></li>
        <li><a href="#"><i class="fas fa-users"></i> Accounts</a></li>
        <li><a href="#"><i class="fas fa-sign-out-alt"></i> Cerrar sesion</a></li>
      </ul>
  </nav>
  <!--aca termina menu- mobile-->
  <nav class="menu-sm hidden sm:flex justify-between text-lg sm:text-xl">
      
      <a href="/account/admin/profile"><i class="fas fa-align-left"></i>  panel de control</a>
     <div class="flex">
          <figure class="avatar">
              <img src="/images/avatars/default.png" alt="">
          </figure>
          <h2 class="user-admin text-sm">super admin <span class="name-admin">manuela</span></h2>
      </div>
  </nav> 
</header>