<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %> 
<body>
  <!-- Header -->
  <%- include("./partials/header") %>
  
  <!-- Main -->
  <main class="home">
    <div id="fullpage">
    <!------ Seccion 1 ------->
      <section class="section s1">
        <div class="relative text-center md:text-left md:ml-12">
          <h2 class="text-5xl md:text-7xl lg:text-7xl">new arrivals</h2>
          <a href="#">mira</a>
        </div>
      </section>

    <!------ Seccion 2 ------->
      <section class="section s2">
        <div class="link-sale">
          <h2 class="text-4xl md:text-5xl">sentite libre</h2>
          <a href="">mira todas nuestras ofertas</a>
        </div>
        <video loop muted data-autoplay class="bg-video">
          <source src="images/production ID_4734797.mp4" type="video/mp4">
        </video>
      </section>

    <!------ Seccion 3 ------->
      <section class="section s3">
        <div class="titulo-categorias">
          <h2 class="text-2xl md:text-4xl lg:text-6xl">Nuestras Categorias</h2>
          <div class="flex flex-row justify-around">
            <a href="#categorias-mujer">mujer</a>
            <a href="#categorias-hombre">hombre</a>
          </div>
        </div>
    <!-- Slide1 -->
        <article id="categorias-mujer" class="slide mujer">
          <div class="mx-auto md:w-4/5 mt-20 categoria">
            <a href="">remeras</a>
            <a href="">tops</a>
            <a href="">buzos</a>
            <a href="">pantalones</a>
            <a href="">jeans</a>
            <a href="">vestidos</a>
          </div>
        </article>

      <!-- Slide2 -->
        <article id="categorias-hombre" class="slide">
          <div class="mx-auto lg:w-4/5 categoria">
            <a href="">remeras</a>
            <a href="">buzos</a>
            <a href="">pantalones</a>
            <a href="">jeans</a>
          </div>
        </article>

      </section>

    <!------ Seccion 4 ------->
      <section class="section text-center s4">
        <p class="my-10 text-xl md:text-4xl"><a class="text-white" href="">VISITANOS</a></p>
          <div class="iconosF">
            <p><a href="https://shortest.link/bF7" class="text-white"><i class="fab fa-instagram text-2xl md:text-5xl"></i></a></p>
            <p><a href="https://shortest.link/bF9" class="text-white"><i class="fab fa-facebook-f text-2xl md:text-5xl"></i></a></p>
            <p><a href="https://shortest.link/bFa" class="text-white"><i class="fab fa-twitter text-2xl md:text-5xl"></i></a></p>
            <p><a href="https://api.whatsapp.com/send?phone= +543875530175" class="text-white"><i class="fab fa-whatsapp text-2xl md:text-5xl"></i></a></p>
            <p><a href="https://pin.it/59OcK6g" class="text-white"><i class="fab fa-pinterest text-2xl md:text-5xl"></i></a></p>
          </div>
          <div class="pie my-10 text-xs">
            <a class="mx-3 md:text-xl" href="" >CONTACTANOS</a> 
            <a class="mx-3 md:text-xl" href="">TERMINOS Y PRIVACIDAD</a>
            <a class="mx-3 md:text-xl" href="">AYUDA</a>
          </div>
      </section>
    </div>
  </main>
            
<!-- Agregamos -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.js"></script>
<!-- Agregamos -->
<script src="javascripts/index.js"></script>
</body>
</html>