<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %> 
<body>
  <!-- Header -->
  <%- include("./partials/header") %>
  <h2>Perfil de Usuario</h2>
  
  <!-- Footer -->
  <%- include("./partials/footer") %>
</body>
</html>