<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %> 
<body>
  <!-- Header -->
  <%- include("./partials/header") %>
  
  <!-- Main -->
  <main class= "mt-32">
    <div class="formulario w-4/5 sm:w-6/12 md:w-5/12 mx-auto shadow-md grid grid-cols-1  bg-gray-200 ">
      <form action="" method="POST" class="p-3 md:p-8">
        <div class="text-center my-3 ">
          <h1 class="titulo text-2xl md:text-4xl">Registrate</h1>
        </div>
        <div class="my-3 md:my-6">
          <!--<label for="" class="block py-1 text-sm font-semibold">Nombre</label>-->
          <input type="text" name="name" placeholder="Nombre" class="leading-8 md:leading-10 shadow-md focus:outline-none focus:ring-2 focus:ring-purple-300 focus:border-transparent" >
        </div>
        <div class="my-3 md:my-6">
          <!--<label for="" class="block py-1 text-sm font-semibold">Apellido</label>-->
          <input type="text" name='surname' placeholder="Apellido" class="leading-8 md:leading-10 shadow-md focus:outline-none focus:ring-2 focus:ring-purple-300 focus:border-transparent" >
        </div>
        <div class="my-3 md:my-6">
          <!--<label for="" class="block py-1 text-sm font-semibold">Email</label>-->
          <input type="email" name="email" placeholder="E-mail" class="leading-8 md:leading-10 shadow-md focus:outline-none focus:ring-2 focus:ring-purple-300 focus:border-transparent" >
        </div>
        <div class="my-3 md:my-6">
          <!--<label for="" class="block py-1 text-sm font-semibold">Contrase単a</label>-->
          <input type="password" name="password" id="" placeholder="Contrase単a" class="leading-8 md:leading-10 shadow-md focus:outline-none focus:ring-2 focus:ring-purple-300 focus:border-transparent" >
        </div>
        <div class="my-3 md:my-6">
          <!--<label for="" class="block py-1 text-sm font-semibold">Confirmar contrase単a</label>-->
          <input type="password" name="confirmarPassword" placeholder="Confirmar Contrase単a" class="leading-8 md:leading-10 shadow-md focus:outline-none focus:ring-2 focus:ring-purple-300 focus:border-transparent">
        </div>
        <div class="my-5 flex justify-center">
          <button type="submit" class="button w-6/12 bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50">Registrarme</button>
        </div>
      </form>
      <% if (typeof errores != 'undefined') { %>
        <ul>
            <% errores.forEach(error => { %>
             <li><%= error.msg %> </li>
            <% }) %>
        </ul>
       <% } %>
    </div>
  </main>
  <!-- Footer -->
  <%- include("./partials/footer") %>
</body>
</html>