<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head')  %> 
      <body>   
        <!-- Header -->
          <%- include('./partials/header') %> 

    <!-- Form-->
        <div class="bg-gray-100 mx-auto max-w-6xl bg-white py-20 px-12 lg:px-24 shadow-xl mb-24">
            <div class="row justify-content-center mt-5">
                <h2 class="text-center my-5">FORMULARIO DE CARGA DE PRODUCTO</h2>
          <form>
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
              <div class="-mx-3 md:flex mb-6">
    
                <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                  <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="Categoria">
                    Categoria
                  </label>
                  <select class="w-full bg-gray-200 border border-gray-200 text-black text-xs py-3 px-4 pr-8 mb-3 rounded" id="">
                    <option>Hombres</option>
                    <option>Mujeres</option>
                 </select>
                  <div>
                  </div>
                </div>
                <div class="md:w-1/2 px-3">
                  <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="subcategoria">
                    Subcategoria
                  </label>
                  <select class="w-full bg-gray-200 border border-gray-200 text-black text-xs py-3 px-4 pr-8 mb-3 rounded" id="">
                    <option>Pantalones</option>
                    <option>jeans</option>
                    <option>Remeras</option>
                    <option>Buzos</option>
                    <option>Camperas</option>
                    <option>Vestidos</option>
                    <option>Polleras</option>
                    <option>Bermudas</option>
                 </select>
                </div>
              </div>
              <div class="-mx-3 md:flex mb-6">
                <div class="md:w-full px-3">
                  <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="Producto">
                    Producto
                  </label>
                  <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" >
                </div>
              </div>
              <div class="-mx-3 md:flex mb-6">
                <div class="md:w-1/2 px-3">
                  <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="Descripcion">
                    Descripcion
                  </label>
                  <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" >
                </div>
              </div>
               <div class="-mx-3 md:flex mb-6">
                  <div class="md:w-1/2 px-3">
                    <input type="text" name="nombre" size="30"><br>
                    <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="Archivo">
                    Seleccione la foto: <input type="file" name="foto"><br>
                    <input type="submit" value="Enviar">
                  </div>
               </div>
             
              <div class="-mx-3 md:flex mb-2">
                <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                  <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="Descuento">
                    Descuento
                  </label>
                    <select class="w-full bg-gray-200 border border-gray-200 text-black text-xs py-3 px-4 pr-8 mb-3 rounded" id="">
                      <option>Si</option>
                      <option>No</option>
                   </select>
                </div>
                
              </div>
              
                <div class="md:w-1/2 px-3">
                  <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="color">
                    Color
                  </label>
                  <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" >
                </div>
                <div class="md:w-1/2 px-3">
                    <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="precio">
                      Precio
                    </label>
                    <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" >
                </div>
                </div>  
                
                <div class="-mx-3 md:flex mt-2">
                    <div class="md:w-full px-3">
                      <button class="md:w-full bg-gray-900 text-white font-bold py-2 px-4 border-b-4 hover:border-b-2 border-gray-500 hover:border-gray-100 rounded-full">
                        Finalizar
                      </button>
                    </div>
                </div>
              </div>
            </div>
          </form>
        </div>
</body>
</html>