<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')  %> 
<body>   
    <!-- Header -->
    <%- include('./partials/header') %>
    <main class="mx-5">
        <h2 class="text-lg text-center py-4 mb-4">Hello, Manuelito, Welcome!</h2>
        <h3 class="text-sm">Panel de control</h3>
    </main>
</body>
</html>