<footer class="mt-20 ">
    <div class="footer text-center">
        <p class="text-xl md:text-xl"><a class="text-white" href="">FOLLOW US</a></p>
        <div class="iconosF mx-auto">
            <p><a href="https://www.instagram.com/life.byjdb/?igshid=1ldeo007ogrnq" ><i class="fab fa-instagram text-xl md:text-2xl"></i></a></p>
            <p><a href="https://www.facebook.com/Life-104740501730295" ><i class="fab fa-facebook-f text-xl md:text-2xl"></i></a></p>
            <p><a href="https://twitter.com/Life56435291" ><i class="fab fa-twitter text-xl md:text-2xl"></i></a></p>
            <p><a href="https://api.whatsapp.com/send?phone= +543875530175" ><i class="fab fa-whatsapp text-xl md:text-2xl"></i></a></p>
            <p><a href="https://ar.pinterest.com/Life_byJDB/?invite_code=b20cdfb7da924171a74e143361003c4b&sender=959337295532536597" ><i class="fab fa-pinterest text-xl md:text-2xl"></i></a></p>
        </div>
        <div class="pie my-2 text-xs">
            <p class="mx-2 md:text-lg" href="" >CONTACT US</p> 
            <p class="mx-2 md:text-lg" href="">TERMS AND PRIVACY</p>
            <p class="mx-2 md:text-lg" href="">HELP</p>
        </div>
        <p class="text-xs text-left pt-3">2021 Life. All rights reserved</p>
    </div>
</footer>