<footer>
    <div class="footer text-center">
        <p class="text-xl md:text-xl"><a class="text-white" href="">VISITANOS</a></p>
        <div class="iconosF mx-auto">
            <p><a href="" ><i class="fab fa-instagram text-xl md:text-2xl"></i></a></p>
            <p><a href="" ><i class="fab fa-facebook-f text-xl md:text-2xl"></i></a></p>
            <p><a href="" ><i class="fab fa-twitter text-xl md:text-2xl"></i></a></p>
            <p><a href="" ><i class="fab fa-whatsapp text-xl md:text-2xl"></i></a></p>
            <p><a href="" ><i class="fab fa-pinterest text-xl md:text-2xl"></i></a></p>
        </div>
        <div class="pie my-2 text-xs">
            <a class="mx-2 md:text-lg" href="" >CONTACTANOS</a> 
            <a class="mx-2 md:text-lg" href="">TERMINOS Y PRIVACIDAD</a>
            <a class="mx-2 md:text-lg" href="">AYUDA</a>
        </div>
        <p class="text-xs text-left pt-3">2021 Life. Todos los derechos reservados  </p>
    </div>
</footer>